.profile-heading-layout{
    text-align: center;
    background-color: rgb(30 39 45);
    color: var(--text-color);
    padding: 20px
}

.profile-heading-layout-myaccount{
   padding-right: 2rem;
   font-size: 25px;
   font-weight: bold;
}

.profile-heading-home{
    padding: 0.5rem;
}
.profile-heading-myaccount{
    padding: 0.5rem;
}