:root{
  --primary-color:rgb(239 68 68 );
  --secondary-color: #000000;
  --background-color: rgb(18 34 45 / var(--tw-bg-opacity));
  --text-color: #FFFFFF;
}
.red-button{
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color);
  border: none;
  outline:none;
  padding:0.8rem 1rem;
  border-radius: 8px;
}
