.funfact-section-layout{
/* background-color: var(--secondary-color); */
background-color:rgb(18 34 45);

}

.funfact-section-content{
padding-bottom: 8rem;
padding-top: 1rem;
text-align: center;
font-family: "Poppins", serif;
display: flex;
}

.funfact-section-content-description-nm{
color: var(--primary-color);
font-size: 48px;
font-weight: 600;
}

.funfact-section-content-description-txt{
color: var(--text-color);
font-size: 26px;
}